











<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" routerLink="/">ShopApp</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
				</li>

                <li class="nav-item dropdown" *ngIf="isAdmin" >
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Admin</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/admin/dashboard" routerLinkActive="active" >Dashboard</a></li>
                      <li><a class="dropdown-item" routerLink="/admin/products" routerLinkActive="active" >Products</a></li>
                      <li><a class="dropdown-item" href="#">Orders</a></li>
                    </ul>
                  </li>

				<li class="nav-item" *ngIf="!isLoggedin" >
					<a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
				</li>
				<li class="nav-item" *ngIf="!isLoggedin">
					<a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
				</li>

				<li class="nav-item" *ngIf="isLoggedin">
					<a class="nav-link active" routerLink="/my-account" >User: {{username}}</a>
				</li>

				<li class="nav-item" *ngIf="isLoggedin">
					<a class="nav-link"  (click)="logout()" >Logout</a>
				</li>

			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-light" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<!-- 
<nav class="navbar mt-0 pt-0 navbar-light bg-light">
	<div class="nav ms-4">
		<li class="nav-item">
			<a routerLink="/" [queryParams]="{ category: 'all' }"  class="nav-link"	aria-current="page" >All Products</a>
		</li>

		<li *ngFor="let category of categories | async" class="nav-item">
			<a class="nav-link" 
				aria-current="page" 
				routerLink="/" 
				[queryParams]="{category: category.title}" 
				routerLinkActive="active">
					{{ category.title }}
			</a>
		</li>
		

	</div>

</nav> -->