<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->

<div class="container mt-2">
    <button type="button" class="btn btn-success">Add new</button>
    <div class="table-responsive-md">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Visible</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Telefon Samsung galaxy S5 Telefon Samsung galaxy S5</td>
                    <td>Samsung</td>
                    <td>Telefoane</td>
                    <td>
                        <img src="" alt="No Img">
                    </td>
                    <td>155.99 Lei</td>
                    <td>No</td>
                    <td>
                        <button type="button" class="btn btn-info me-1 rounded">Preview</button>
                        <button type="button" class="btn btn-warning me-1 rounded">Edit</button>
                        <button type="button" class="btn btn-danger rounded">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>